

body {
    background-color: #FFFFED;
}

h2 {
    font-family: Roboto;
    font-size: larger;
    text-align: center;
    color:#000000

}
.nav-h1 {
    color: #0000ff;
    font-family: "Open Sans Bold", Roboto;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background-color: #a5b3b0;
    padding: 10px;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans Bold", Roboto;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
}

.navbar li {
    display: inline-block;
    border: 3px #000000 solid;
    border-radius: 45px;
    padding: 10px;
    margin: 0px 50px 10px 50px;

}

a {
    text-decoration: none;
}

a:link {
    color: red;
}

img: hover {

}

#img-index {
    display: inline-block;
    border: 3px #000000 solid;
    border-radius: 10px;
    width: 600%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#img-lit {
    display: block;
    border: 3px #000000 solid;
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}

#img-hist {
    display: block;
    border: 3px #000000 solid;
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}

.tops {
    color:#0000ff;
    font-size: larger;
}
/* Add and style back to top button with proper linkage */
/* .top {

} */
main  div{
    border: 1px solid none;
    padding: 50px;

}


main { 
    display:grid;
    grid-template-columns: 10%;
    border: 2px solid black;
}


@media screen and (min-width: 780px) {
    main {
        grid-template-columns: 45% 45%;
        justify-content: auto;

    }
}